<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded==true" class="card mb-3">
<div *ngFor="let car of carDetails" class="card-header text-center">
  <strong>
      {{car.brandName}} - {{car.modelYear}}
  </strong>

</div>
<div id="carouselExampleControls">
  <div>
    <div align="center" *ngFor="let car of carDetails">
     <img src="{{apiUrl}}{{ car.carImage}}" class="h-25 d-inline-block" style="width: 300px; height: 500px;" alt="...">
    </div>
  </div>
</div>
<div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
      <tr>
        <th>Model Yılı</th>
          <th>Marka İsmi</th>
          <th>Rengi</th>
          <th>Açıklama</th>
          <th>Günlük Ücret</th>
      </tr>
  </thead>
<tbody>
<tr *ngFor="let car of carDetails">
<td>{{car.modelYear}}</td>
  <td>{{car.brandName}}</td>
  <td>{{car.colorName}}</td>
  <td>{{car.description}}</td>
  <td>{{car.dailyPrice}} TL </td><br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button routerLink="/rentals/{{car.carId}}/{{car.dailyPrice}}" class="btn btn-primary me-md-2" type="button">Kirala</button>
    </div>
</tr>
</tbody>
</table>
</div>
