<!-- <div *ngIf="dataLoaded==false"class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <th>Name</th>
    <th>Name</th>
    <th>BrandName</th>
    <th>ColorName</th>
    <th>ModelYear</th>
    <th>DailyPrice</th>
    <th>Description</th>
    <th>UnitsInStock</th>
  </thead>
  <tr *ngFor="let car of cars">
    <td>{{car.Id}}</td>
    <td>{{car.Name}}</td>
    <td>{{car.BrandId}}</td>
    <td>{{car.ColorId}}</td>
    <td>{{car.ModelYear}}</td>
    <td>{{car.DailyPrice}}</td>
    <td>{{car.Description}}</td>
    <td>{{car.UnitsInStock}}</td>
  </tr>

</table>
